body {
    font-family: sans-serif;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: #000000;
    color: #333;
}

h1 { 
    color: #999;
    font-size: 50px;
    text-align: center;
}

p {
    color: #ccc;
    font-size: 20px;
    text-align: center;
}

label {
    color: #999;
    font-size: 30px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
}

.hidden {
    display: none;
}

#output {
    color: #ccc;
}

.resultContainer {
    position: relative;
    border-color: #ccc;
    border-width: 2px;
    border-style: solid;
    padding:  10px;
    overflow: auto;
    border-radius: 4px;
    margin: 10px auto;
}